<div class="root" fxLayout="column" fxLayoutAlign="center center">
  <h1>Face Analyzer</h1>
  <div fxLayout="row" fxLayoutAlign="center">
    <!-- keep span for format -->
    <span style="height:0px; width:100px; opacity:0"></span>
    <!--  -->

    <div fxLayout="column" fxLayoutGap="10px">
        <div class="image-container">
            <img width="450" height="300" id="img" name="image">
            <mat-spinner *ngIf="loading" class="spinner-color" style="position: absolute; margin-left:175px; margin-top:-200px"></mat-spinner>
            <!-- src="sample.jpeg" -->
        </div>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center">
            <input id="hidden-button" style="display: none;" (change)="loadFile($event)" type="file" name="img" accept="image/*">
            <button id="upload-button" (click)="uploadImage()" mat-stroked-button>Upload Image</button>
            <button id="detect" (click)="detect()" color="primary" mat-flat-button>Detect!</button>
        </div>
    </div>
    <div class="filters">
        <h3>Guess:</h3>
        <div fxLayout="column" fxLayoutGap="10px">
            <mat-checkbox color="primary">Gender</mat-checkbox>
            <mat-checkbox color="primary">Age</mat-checkbox>
        </div>
    </div>
  </div>
  <div *ngIf="!loading && images.length > 0" fxLayout="column" fxLayoutAlign="center" style=" margin-top:50px; color:grey">
      <div fxLayout="column" fxLayoutAlign="center">
          <h3>{{images.length}} faces have been detected</h3>
          <h4>- 1 boy, 2 girls</h4>
          <h4>- 2 adults, 1 kid</h4>
      </div>
      <div id="allFaces">
        <div *ngFor="let b64 of images" fxLayout="row">
          <div>
            <img width="450" height="300" src="{{b64}}">
          </div>
          <div style="align-self: center;">
            <h3>Age: 21</h3>
            <h3>Gender: Boy</h3>
          </div>
        </div>
      </div>
  </div>
</div>
