img {
    /* object-fit: cover; */
    object-fit: contain;
}
  
  
body {
    /* background-color: #F6F3EA !important; */
}

.root {
    padding:20px;
}

.image-container {
    border:2px solid black;
    height:300px;
}

.filters {
    width:80px;
    padding:10px;
    height:125px;
    border:1px solid grey;
    border-radius:10%;
    margin-left:10px;
}

::ng-deep .spinner-color circle {
    stroke:yellowgreen !important;
    z-index:100;
    opacity:1
}

    