<div class="root" fxLayout="column" fxLayoutAlign="center center">
  <h1>Face Analyzer</h1>
  <div fxLayout="row" fxLayoutAlign="center">
    <!-- keep span for format -->
    <span style="height:0px; width:100px; opacity:0"></span>
    <!--  -->

    <div fxLayout="column" fxLayoutGap="10px">
        <div class="image-container">
            <img width="450" height="300" id="img" name="image">
            <mat-spinner *ngIf="loading" class="spinner-color" style="position: absolute; margin-left:175px; margin-top:-200px"></mat-spinner>
            <!-- src="sample.jpeg" -->
        </div>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center">
            <input id="hidden-button" style="display: none;" (change)="loadFile($event)" type="file" name="img" accept="image/*">
            <button id="upload-button" (click)="uploadImage()" mat-stroked-button>Upload Image</button>
            <button id="detect" (click)="detect()" color="primary" mat-flat-button>Detect!</button>
        </div>
    </div>
    <div class="filters">
        <h3>Guess:</h3>
        <div fxLayout="column" fxLayoutGap="10px">
            <mat-checkbox color="primary">Gender</mat-checkbox>
            <mat-checkbox color="primary">Age</mat-checkbox>
        </div>
    </div>
  </div>
  <div *ngIf="!loading && faces.length > 0"  fxLayout="column" fxLayoutAlign="center" style=" margin-top:50px; color:grey">
      <div style="text-align: center">
          <h2>{{faces.length}} faces have been detected</h2>
          <h3>- 1 boy, 2 girls</h3>
          <h3>- 2 adults, 1 kid</h3>
      </div>
      <div>
        <div *ngFor="let im of faces" fxLayout="row">
          <div>
            <img width="300" height="150" src="{{im.src}}">
          </div>
          <div style="align-self: center">
            <h3 *ngIf="im.age"><span style="font-weight: bold;">Age: </span>{{im.age}} ({{im.ageConfidence}}% confident)</h3>
            <h3 *ngIf="im.gender"><span style="font-weight: bold;">Gender: </span>{{im.gender}} ({{im.genderConfidence}}% confident)</h3>
          </div>
        </div>
      </div>
  </div>
</div>
